<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Bilionários | MidasVIP</title>

<meta name="description" content="Últimas notícias sobre bilionários e grandes fortunas.">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HXWRZ08449"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HXWRZ08449');
</script>

<body>

<header>

<img
src="{{ url_for('static', filename='img/logo-midasvip.png') }}"
alt="MidasVIP"
class="logo-principal"
>

<p class="slogan">
O UNIVERSO DA RIQUEZA, DO PODER E DO LUXO
</p>

</header>

<nav>

<a href="/">Home</a>
<a href="/noticias">Notícias</a>
<a href="/bilionarios" class="menu-ativo">Bilionários</a>
<a href="/celebridades">Celebridades</a>
<a href="/luxo">Luxo</a>

</nav>

<section class="hero">

<h2>Bilionários</h2>

<p>
As maiores fortunas do planeta, negócios bilionários,
investimentos e empresários que movimentam a economia global.
</p>

</section>

<section class="grid">

{% for noticia in noticias %}

<a href="{{ noticia.link }}" target="_blank" class="card">

{% if noticia.imagem %}
<img
src="{{ noticia.imagem }}"
alt="{{ noticia.titulo }}"
style="width:100%;height:220px;object-fit:cover;border-radius:12px;margin-bottom:15px;"
>
{% endif %}

<h3>{{ noticia.titulo }}</h3>

<p>
Fonte:
<strong>{{ noticia.fonte }}</strong>
</p>

</a>

{% endfor %}

</section>

<footer>
© 2026 MidasVIP.com.br
</footer>

</body>
</html>
